@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  @apply 
    bg-primary
    text-offWhite 
    m-8;
}

nav {
  display: flex;
  font-size: 20pt;
  border-bottom: 2px solid white;
  justify-content: space-between;
  padding: 10px;
}

nav p {
  flex: auto;
  font-size: 25pt;
}

nav a {
  flex: auto;
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  transition: .3s;
}
nav a:hover {
  background-color: #3b0123;
}

.spacer {
  flex: 20;
}

@media only screen and (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    border-bottom: 2px solid white;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav p {
    flex: auto;
    font-size: 25pt;
    text-align: center;
  }
  
  nav a {
    flex: auto;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    transition: .3s;
  }
  nav a:hover {
    background-color: #3b0123;
  }
  
  .spacer {
    flex: 20;
  }
}