.colorGuesserApp {
  @apply 
    bg-offWhite
    pt-10
    pb-5;
}

.box {
  @apply
    pt-10
    h-32
    w-32
    sm:h-52
    sm:w-52
    border-2 border-black
    rounded-3xl
    m-1
    sm:m-2.5;
}


.githubLink:link {
  @apply text-tertiary;
}

.githubLink:visited {
  @apply text-tertiary;
}

.githubLink:hover {
  @apply text-primary;
}

.githubLinkText {
  @apply
    flex
    justify-center
    sm:justify-end
    text-xl
    pr-5;
}

.updateInfo {
  @apply 
    text-sm 
    sm:text-left 
    text-center
    pl-3;
}