.cardOne {
  margin-right: 20px;
  position: relative;
}

.cardTwo {
  position: relative;
}

.cardStyle {
  width: 100%;
  display: block;
  border-radius: 30px;
  border: 5px solid #331D2C;
}

/* Front of card - picture */
.cardOne .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.cardTwo .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* Back of card - cover */
.cardOne .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.cardTwo .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}