.cardOne {
  @apply 
    mr-5
    relative;
}

.cardTwo {
  position: relative;
}

.cardStyle {
  @apply 
    w-full
    block
    rounded-[30px]
    border-4 border-primary;
}

/* Front of card - picture */
.cardOne .front {
  @apply absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.cardTwo .front {
  @apply absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* Back of card - cover */
.cardOne .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.cardTwo .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}