@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  @apply 
    bg-primary
    text-white
    text-lg
    text-center;
}

.pageSpacing {
  @apply 
    pt-10
    pb-5;
}

/* Background styles */
.offWhite-Primary {
  @apply bg-offWhite text-primary;
}

.tertiary-offWhite {
  @apply bg-tertiary text-white;
}

/* Screen Hiding/Showing */
.hideSmScreen {
  @apply 
    hidden 
    sm:block;
}
.showSmScreen {
  @apply
    sm:hidden;
}

.hideMdScreen {
  @apply 
    hidden 
    md:block;
}
.showMdScreen {
  @apply
    md:hidden;
}

.hideLgScreen {
  @apply 
    hidden 
    lg:block;
}
.showLgScreen {
  @apply
    lg:hidden;
}

.justifyCenter {
  @apply 
    flex 
    justify-center;
}

.flexCol {
  @apply
    flex 
    flex-col;
}

/* Main Page Sections */
.mainPageHeader {
  @apply 
    w-fit 
    flex flex-col 
    lg:flex-row 
    mx-auto;
}

.mainPageHeader p {
  @apply
    text-5xl
    text-center
    font-bold
    lg:mx-2
    p-1.5;
}

.mainImage {
  @apply 
    h-[300px]
    w-[300px]
    relative
    overflow-hidden
    mx-auto;
}

.mainImage img {
  @apply 
    rounded-full;
}

/*  About  */
.aboutSection {
  @apply p-12;
}

.aboutSection p {
  @apply
    text-center;
}

/* Project Carousel */
.projectSection {
  @apply p-12;
}

.slick-slide > div {
  @apply mx-3;
}

.carouselCard {
  @apply 
    h-auto 
    rounded-xl 
    border-4 
    border-primary;
}

.carouselImage {
  @apply 
    rounded-t-xl 
    bg-tertiary 
    flex justify-center 
    items-center 
    border-b-4 border-secondary;
}

.carouselTextContainer {
  @apply 
    flex flex-col 
    justify-center items-center 
    p-4;
}

.projectTitle {
  @apply text-2xl font-bold underline;
}

.projectButton {
  @apply 
    bg-white 
    text-tertiary 
    rounded-lg 
    px-3 py-1 
    mt-3
    transition duration-200;
}
.projectButton:hover {
  @apply
    bg-primary
    text-offWhite;
}

/* Collages */
.collageImg {
  @apply w-full h-auto;
}

.experienceSection {
  @apply 
    p-12
    flex
    justify-around
    flex-col
    md:flex-row;
}

.experienceTitle {
  @apply underline text-2xl pb-2;
}

.skillsSection {
  @apply
    flex-auto
    p-5
    pr-16
    md:border-r-4 md:border-b-0
    border-offWhite border-b-4;
}

.skillsListContainer {
  @apply 
    flex 
    text-left 
    justify-center;
}

.eduArea {
  @apply flex-auto p-5;
}


/* --------Project App Overarching Styles--------- */
.appArea {
  @apply
  border-8 border-primary
  rounded-3xl
  w-fit
  m-auto
  mb-5
  p-10;
}

p.title {
  @apply 
  text-4xl
  font-bold
  pb-3;
}

.textInstructions {
  @apply 
  w-3/4
  m-auto;
}

.appButton {
  @apply
    p-2
    bg-tertiary
    rounded-lg
    text-white
    font-bold
    cursor-pointer
    m-1
    p-2;
}

.appButton:hover {
  @apply 
  bg-primary
  text-white;
}